<div class="container" style="margin-top: 30px;">
  <mat-card>
    <div class="header">
      <h2 class="title">Video Library</h2>
    </div>
    <div class="content">

    </div>
  </mat-card>


  <mat-card style="margin-top: 30px;">
    <div>
      <mat-form-field style="width: 83%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <button mat-raised-button color="primary" style="margin-left: 23px;" [routerLink]="['../video-library','new']">
        Create Video Library
      </button>
    </div>

    <table mat-table style="width: 100%;" [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{(paginator.pageIndex*paginator.pageSize)+i+1}}
          </td>

      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="streamURL">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> streamURL </th>
        <td mat-cell *matCellDef="let element"> {{element.streamURL}} </td>
      </ng-container> <!-- Sub Categories Column -->

      <!-- Sub Categories Column -->
      <!-- <ng-container matColumnDef="jwMediaID" mat-sort-header>
          <th mat-header-cell *matHeaderCellDef> jwMediaID </th>
          <td mat-cell *matCellDef="let element"> {{element.jwMediaID}} </td>
        </ng-container> -->

      <!-- Status Column -->
      <!-- <ng-container matColumnDef="duration">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> duration </th>
          <td mat-cell *matCellDef="let element"> {{element.duration}} </td>
        </ng-container> -->

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon aria-hidden="false" style="cursor: pointer;" (click)="delete(row)"
            aria-label="Example home icon">delete</mat-icon>
          <span style="margin-left: 20px;"></span>
          <mat-icon aria-hidden="false" style="cursor: pointer;" [routerLink]="['../video-library', row._id]"
            aria-label="Example home icon">edit</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="count" [pageSize]="20" class="table-paginator-style" [pageSizeOptions]="[20, 40, 80]"
      showFirstLastButtons>
    </mat-paginator>


  </mat-card>

</div>