.main-container{

    padding: 20px;
    background: rgb(226, 226, 226);
    position: absolute;
    top: 40px;
    bottom: 0px;
    width:100%;

}

.row{
    padding-left: 220px !important;
 
}






