<mat-dialog-content>
	
    <div class="col">
        <!--delete-start-->
        
          <div class="col" *ngIf="renderFormType=='delete-message'">
              <img  class="img" src="../../../../../assets/azam-logo.png">
              <p class="messageFont">
                  {{message}}
              </p>
              <p class="messageFont">MESSAGE OBJECTIVE: {{formDetails?.Message}}. </p>
              <mat-dialog-actions  align="center">
                <button mat-raised-button color="primary" (click)="delete(formDetails?.type)" tabindex="1">{{confirmButtonText}}</button>
                <button mat-raised-button mat-dialog-close tabindex="-1" color="warn" >{{cancelButtonText}}</button>
              </mat-dialog-actions>
          </div>

          <div class="col" *ngIf="renderFormType=='delete-campaign'">
            <img  class="img" src="../../../../../assets/azam-logo.png">
            <p class="messageFont">
                {{message}}
            </p>
            <p class="messageFont">CAMPAIGN : {{formDetails?.campaigName}}. </p>
            <mat-dialog-actions  align="center">
              <button mat-raised-button color="primary" (click)="delete(formDetails?.type)" tabindex="1">{{confirmButtonText}}</button>
              <button mat-raised-button mat-dialog-close tabindex="-1" color="warn" >{{cancelButtonText}}</button>
            </mat-dialog-actions>
        </div>
      <!--delete-end-->
        
        <!--normal-create-message-start-->
        <!-- <div *ngIf="type=='create-message'"> -->
          
            
            <!--Render normal form start-->
            <div class="col" *ngIf="renderFormType==='create-message'">
                <img  class="img" src="../../../../../assets/azam-logo.png">
                <p class="messageFont">
                    {{message}}
                </p>
                <p class="messageFont">MESSAGE OBJECTIVE: {{formDetails?.campaigObjective}}. </p>
                <p class="messageFont">MAPPED CHANNELS.</p>
                <hr>
                <mat-list>
                    <mat-list-item *ngFor="let item of formDetails?.name">* {{item}}</mat-list-item>
                </mat-list>
                <hr>
                <mat-dialog-actions *ngIf="renderFormType==='create-campaign' || renderFormType==='create-message' " align="center">
                  <button mat-raised-button color="primary" (click)="onConfirmClick('create-message')" tabindex="1">{{confirmButtonText}}</button>
                  <button mat-raised-button mat-dialog-close tabindex="-1" color="warn" >{{cancelButtonText}}</button>
                </mat-dialog-actions>
            </div>
        <!-- </div> -->
        <!--normal-create-message-end-->
      

        <!--normal-create-campaign-start-->      
            <!--Render normal form start-->
            <div class="col" *ngIf="renderFormType==='create-campaign'">
                <img  class="img" src="../../../../../assets/azam-logo.png">
                <p class="messageFont">
                    {{message}}
                </p>
                <p class="messageFont">CAMPAIGN NAME: {{formDetails?.campaigName}}. </p>
                <p class="messageFont">CHANNEL TYPE: {{formDetails?.channelType}}.</p>
                <p class="messageFont">CREATED BY: {{formDetails?.createdBy}}.</p>
                <p *ngIf="formDetails?.isReccuring == false"  class="messageFont"> CAMPAIGN WILL START AT: {{formDetails?.date.begin == null ? formDetails?.date :formDetails?.date?.begin + ' AND END AT ' + formDetails?.date?.end}}</p>
                <p *ngIf="formDetails?.isReccuring == true"  class="messageFont"> CAMPAIGN DURATION: {{formDetails?.recuringCampaignDuration}}</p>
                <hr>
                <div *ngIf="isReccuring===false">
                <p class="messageFont">MAPPED MESSAGES FOR NORMAL RUNTIME </p>
                <mat-list>
                    <mat-list-item *ngFor="let item of formDetails?.normalMessage">* {{item.Message}}</mat-list-item>
                </mat-list>
                </div>
                <div *ngIf="isReccuring===true">
                    <p class="messageFont">MAPPED MESSAGES FOR RECCURING CAMPAIGN: </p>
                    <mat-list>
                        <mat-list-item *ngFor="let item of formDetails?.campaignStages?.stage">* {{item.mappedMessages.Message}}</mat-list-item>
                    </mat-list>
                </div>
                <hr>
                <mat-dialog-actions *ngIf="renderFormType==='create-campaign' || renderFormType==='create-message' " align="center">
                  <button mat-raised-button color="primary" (click)="onConfirmClick('create-campaign')" tabindex="1">{{confirmButtonText}}</button>
                  <button mat-raised-button mat-dialog-close tabindex="-1" color="warn" >{{cancelButtonText}}</button>
                </mat-dialog-actions>
            </div>
        <!--normal-create-campaign-end-->
       
        <!--Render normal form end-->

        <!--Render campaign form start-->
        <div *ngIf="renderFormType==='message'">
            <img  class="img" src="../../../../../assets/azam-logo.png">
            <!-- {{renderFormType}} -->
            <div style="width: 70%; height: 600px;">
                <form [formGroup]="form" (ngSubmit)="onUpdate('update-message')">
                  <label class="campaing-form-lable" for="Campaing objective">Campaing objective</label><br>
                  <input style="width: 400px !important; height: 40px !important;" name="campaigObjective"  formControlName="campaigObjective"/>
                  <br/>
                   <span *ngIf="form.controls['campaigObjective'].invalid" style="color: red;margin-top: 5px;margin-bottom: 5px;">
                    ** Campaign objective field can't be empty!
                   </span>
                  <br/>
                  <label class="campaing-form-lable" for="Campaing Message">Campaing Message</label><br>
                  <textarea style="width: 400px !important; height: 200px !important;" #textMessageInput name="campaignMessage" formControlName="campaignMessage" (blur)="setPersonalized(textMessageInput.value)"></textarea>
                  <br>
                  <span *ngIf="form.controls['campaignMessage'].invalid" style="color: red;margin-top: 5px;margin-bottom: 5px;">
                    ** Campaign must have a message!
                   </span>
                  <br/>
                  <div  *ngIf="isPersonalized == 'YES' " style="margin-top: 10px;margin-bottom: 10px;" >
                    <p style="width: 400px !important;font-weight: 800; font-size: 15px;">
                        {{TextAreaMessage}}
                    </p><br>
                   </div>
                  
                  <label class="campaing-form-lable" for="Campaing Message">Map message to channel</label><br>
                  <div style="width: 400px !important; height: 100px;">
                  <ng-multiselect-dropdown #multiSelect
                  [placeholder]="'SELECT CAMPAIGN CHANNEL'" 
                  [data]="data" 
                  [formControl]="f.name" 
                  [settings]="settings2"
                  [disabled]="false"
                  (onFilterChange)="onFilterChange($event)"
                  (onDropDownClose)="onDropDownClose($event)"
                  (onSelect)="onItemSelect($event)" 
                  (onDeSelect)="onDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)">
                  </ng-multiselect-dropdown>
                  </div>
                  <br>
                  <label class="campaing-form-lable" for="Campaing Message">Is personalized message</label><br>
                  <mat-checkbox color="primary" name="personalizeMessage" formControlName="personalizeMessage" #ch (change)= 'onChange($event)'>IS PERSONALIZED  {{isPersonalized}}</mat-checkbox>
                  <br>
                <span *ngIf="f?.name?.errors?.required" style="color: red;margin-top: 5px;margin-bottom: 5px;">
                   ** Please map message to specific campaign
                </span>
                <span *ngIf="DuplicateValueFlag == true" style="color: red;margin-top: 5px;margin-bottom: 5px;">
                   ** {{this.errorMessageMapping}}
                </span>
                <span *ngIf="isPersonalMessageError == true" style="color: red;">
                  Please add #### to place username for personal message
                </span>
                <br>
                  <button style="margin-right: 20%" mat-raised-button type="submit" color="primary" [disabled]="this.form.invalid || this.DuplicateValueFlag == true">UPDATE</button>
                  <button mat-raised-button type="submit"  (click)="cancel()">CANCEL</button>
                </form>
               </div>
        </div>
        <!--Render campaign form end-->

         <!--Render message edit form start-->
         <div  *ngIf="renderFormType=='campaign'">
            <img  class="img" src="../../../../../assets/azam-logo.png">
            <div >
                <!-- <mat-card class="mat-card-content"> -->
                  <!-- <mat-card-content> -->
                    <form  style="width: 1100px !important;" [formGroup]="campaignForm" (ngSubmit)="onUpdate('update-campaign')">
                      <label class="campaing-form-lable" for="Campaing objective"
                        >Campaign name</label
                      ><br />
                      <input
                        style="width: 60% !important; height: 40px !important"
                        name="campaigName"
                        formControlName="campaigName"
                        [class.valid]="
                          this.campaignForm.get('campaigName').valid &&
                          (this.campaignForm.get('campaigName').dirty ||
                            this.campaignForm.get('campaigName').touched)
                        "
                        [class.invalid]="
                          this.campaignForm.get('campaigName').invalid &&
                          (this.campaignForm.get('campaigName').dirty ||
                            this.campaignForm.get('campaigName').touched)
                        "
                      /><br />
                      <div
                        *ngIf="
                          this.campaignForm.get('campaigName').invalid &&
                          this.campaignForm.get('campaigName').errors &&
                          (this.campaignForm.get('campaigName').dirty ||
                            this.campaignForm.get('campaigName').touched)
                        "
                      >
                        <small
                          class="text-danger"
                          *ngIf="
                            this.campaignForm.get('campaigName').hasError('required')
                          "
                        >
                          Campaign name field is required.
                        </small>
                      </div>
                      <label class="campaing-form-lable" for="Campaing objective"
                        >Channel Type {{ channel }}</label
                      ><br />
                      <input
                        style="width: 60% !important; height: 40px !important"
                        name="channelType"
                        formControlName="channelType"
                        [class.valid]="
                          this.campaignForm.get('channelType').valid &&
                          (this.campaignForm.get('channelType').dirty ||
                            this.campaignForm.get('channelType').touched)
                        "
                        [class.invalid]="
                          this.campaignForm.get('channelType').invalid &&
                          (this.campaignForm.get('channelType').dirty ||
                            this.campaignForm.get('channelType').touched)
                        "
                      /><br />
                      <div
                        *ngIf="
                          this.campaignForm.get('channelType').invalid &&
                          this.campaignForm.get('channelType').errors &&
                          (this.campaignForm.get('channelType').dirty ||
                            this.campaignForm.get('channelType').touched)
                        "
                      >
                        <small
                          class="text-danger"
                          *ngIf="
                            this.campaignForm.get('channelType').hasError('required')
                          "
                        >
                        Channel type field is required.
                        </small>
                      </div>
                      <label class="campaing-form-lable" for="Campaing objective"
                        >Run time type</label
                      ><br />
                      <div class="row">
                        <div
                          class="RunTimeTypeStyleSheet"
                          *ngFor="let RuntimeType of RuntimeTypes"
                        >
                          <input
                            style="margin-right: 1%"
                            [value]="RuntimeType"
                            type="radio"
                            name="RunTimeType"
                            formControlName="RunTimeType"
                            (change)="onRadioChange(RuntimeType)"
                          />
                          <label class="campaing-form-lable" for="Campaing objective">{{
                            RuntimeType
                          }}</label>
                        </div>
                        <!--if true show calendar-->
                        <div class="dateContainer" *ngIf="displayCalendar == true">
                            <input
                              matInput
                              placeholder="Choose a date"
                              [satDatepicker]="picker"
                              [value]="dateRange"
                              name="date"
                              formControlName="date"
                              (dateChange)="getDateRange($event)"
                            />
                            <sat-datepicker
                              #picker
                              [rangeMode]="isMultipleDate"
                            ></sat-datepicker>
                            <sat-datepicker-toggle
                              matSuffix
                              [for]="picker"
                            ></sat-datepicker-toggle>
                        </div>
                        <div
                          *ngIf="displayCalendar == true"
                          style="
                            width: 350px !important;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            background-color: chartreuse;
                          "
                        >
                          <ng-multiselect-dropdown
                            #multiSelect
                            [placeholder]="'Select message to map'"
                            [data]="dataz"
                            [formControl]="g.normalMessage"
                            [settings]="settings2"
                            [disabled]="false"
                            (onFilterChange)="onFilterChange($event)"
                            (onDropDownClose)="onDropDownClose($event)"
                            (onSelect)="onItemSelect($event, i)"
                            (onDeSelect)="onDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                      </div>
                      <!--if true show campaign stages-->
                      <div *ngIf="isReccuring == true">
                        <label class="campaing-form-lable" for="Campaing objective"
                          >Campaing duration</label
                        ><br />
                        <input
                          style="width: 60% !important; height: 40px !important"
                          name="recuringCampaignDuration"
                          formControlName="recuringCampaignDuration"
                        /><br />
                        <div formGroupName="campaignStages">
                          <div class="row">
                            <button
                              color="primary"
                              mat-raised-button
                              style="
                                margin-left: 15px;
                                margin-top: 10px;
                                margin-bottom: 10px;
                              "
                              type="button"
                              (click)="addCampaignStages()"
                            >
                              Add stages
                            </button>
                          </div>
                          <div formArrayName="stage">
                            <div
                              *ngFor="
                                let stage of campaignStagez?.controls;
                                let i = index
                              "
                              [formGroupName]="i"
                            >
                              <div class="row">
                                <p
                                  style="
                                    margin-right: 50px;
                                    font-weight: bold;
                                    font-size: 20px;
                                  "
                                >
                                  stage {{ i + 1 }}
                                </p>
                                <label
                                  style="font-weight: bold; font-size: 17px"
                                  for="Campaing objective"
                                  >Map message to campaign stage</label
                                >
                              </div>
                              <div style="margin-bottom: 10px; margin-top: 10px">
                                <div class="row">
                                  <input
                                    style="margin-left: 15px;margin-right: 10px;"
                                    formControlName="from"
                                    placeholder="From "
                                  />
                                  <input
                                    style="margin-right: 10px;"
                                    formControlName="to"
                                    placeholder="to"
                                  />
                                  <div style="width: 30% !important; margin-right: 15px;height:10px;">
                                    <ng-multiselect-dropdown
                                      #multiSelect
                                      [placeholder]="EDIT_MESSAGE[i]"
                                      [formControl]="g.mappedMessages"
                                      [settings]="settings"
                                      [data]="dataz"
                                      [disabled]="false"
                                      name="Talex"
                                      (onFilterChange)="onFilterChange2($event)"
                                      (onDropDownClose)="onDropDownClose2($event)"
                                      (onSelect)="onItemSelect2($event, i)"
                                      (onDeSelect)="onDeSelect2($event)"
                                      (onSelectAll)="onSelectAll2($event)"
                                      (onDeSelectAll)="onDeSelectAll2($event)"
                                    >
                                    </ng-multiselect-dropdown>
                                  </div>
                                  <button
                                    color="warn"
                                    mat-raised-button
                                    type="button"
                                    (click)="removeCapaingStage(i)"
                                  >
                                    Remove stage
                                  </button>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <button
                        style="margin-right: 30px"
                        mat-raised-button
                        type="submit"
                        color="primary"
                        [disabled]="this.campaignForm.invalid"
                      >
                        UPDATE
                      </button>
                      <button mat-raised-button type="button" (click)="cancel()">
                        CANCEL
                      </button>
                    </form>
                    <!--Drop down with mapped messages-->
                    <label class="campaing-form-lable" for="Campaing objective"
                      >Message Mapped to channel</label
                    ><br />
                    <div
                      style="width: 60% !important; margin-top: 10px; margin-bottom: 10px"
                    >
                      <ng-multiselect-dropdown
                        #multiSelect
                        [placeholder]="'VIEW MAPPED MESSAGE'"
                        [data]="dataz"
                        [settings]="settings2"
                        [disabled]="false"
                        (onFilterChange)="onFilterChange($event)"
                        (onDropDownClose)="onDropDownClose($event)"
                        (onSelect)="onItemSelect($event)"
                        (onDeSelect)="onDeSelect($event)"
                        (onSelectAll)="onSelectAll($event)"
                        (onDeSelectAll)="onDeSelectAll($event)"
                      >
                      </ng-multiselect-dropdown>
                    </div>
                  <!-- </mat-card-content> -->
                <!-- </mat-card> -->
            </div>
        </div>
        <!--Render Campaign forom end-->


    </div>
</mat-dialog-content>
<!-- <mat-dialog-actions *ngIf="renderFormType==='create-campaign' || renderFormType==='create-message' " align="center">
	<button mat-raised-button color="primary" (click)="onConfirmClick()" tabindex="1">{{confirmButtonText}}</button>
	<button mat-raised-button mat-dialog-close tabindex="-1" color="warn" >{{cancelButtonText}}</button>
</mat-dialog-actions> -->