.img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  /* border: 1px;
    border-radius: 5px;
    /* padding: 10px; */
    /* box-shadow: 2px 2px 2px 2px #888888;   */ 
}

.messageFont{
    font-size: 10px; 
    font-weight: 700;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.mat-content-header{
  font-weight: 400;
  margin-top: 5px;
  margin-bottom: 5px;
 }
 
 .mat-card-content{
  margin-top:30px;
  margin-bottom: 30px;
 }
 
 .campaing-form-lable{
     font-weight: 700;
     font-size: 18px;
     margin-top: 15px;
     margin-bottom: 15px;
     /* margin-left: 3.5%; */
 }
 .RunTimeTypeStyleSheet{
  height: 100px;
  width: 150px;
  /* background: aquamarine; */
  flex-direction: row;
  align-items: flex-start;
  margin-right: 1%;
  margin-left: 1.2%;
  /* display: flex;
  
  align-content: space-between; */
 }
 .dateContainer{
  /* position: relative; */
  display: flex;
  flex-direction: row;
  /* width: 350px !important; */
  /* background-color: chocolate; */
  }

  .stageFont{
    font-weight: 700;
    font-size: 17px;
    color: black;
  }  

  .stages-container{
    flex: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    /* background-color: grey; */
    /* margin: 5%; */
  }

  .stage-campaign-nomral{
    float: left;
    display: list-item;
    list-style-type: none;
    width: 80%;
    height: 50%;
    background-color: rgb(66, 135, 245);
    margin: 1%;
    padding: 1%;
    font-weight: 600;
    border-radius: 8px;
    font-size: 13px;
    box-shadow: 2px 2px 2px 2px #888888;
    font-style: normal;
    color: white; 
  }

  .stage-campaign-active{
    width: 5%;
    height: 5%;
    background-color: rgb(250, 29, 59);
    border-radius: 8px;
    margin: 0.5%;
    font-weight: 600;
    font-size: 13px;
    box-shadow: 2px 2px 2px 2px #888888; 
  }

  .table-campaign-detail{
    width: 100% !important;
    /* background-color: red; */
    margin-top: 2%;
   }

