<div class="container">
  <mat-card style="margin-top: 30px;">
    <div class="header">
      <h2 class="title">Program</h2>
    </div>
    <div class="content">

    </div>
  </mat-card>

  <mat-card style="margin-top: 30px;">
    <div>
      <mat-form-field style="width: 86%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <button color="primary" mat-raised-button style="margin-left: 23px;" [routerLink]="['../program','new']">
        Create Program
      </button>
    </div>

    <table mat-table style="width: 100%;" [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
        <td mat-cell *matCellDef="let element; let i = index"> {{(paginator.pageIndex*paginator.pageSize)+i+1}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="description">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.description}} </td>
      </ng-container> <!-- Sub Categories Column -->

      <!-- Sub Categories Column -->
      <ng-container matColumnDef="image" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"> {{element.image}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="priority">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> priority </th>
        <td mat-cell *matCellDef="let element"> {{element.priority}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="time">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Time </th>
        <td mat-cell *matCellDef="let element"> {{element.time}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="isDeleted">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Is Deleted? </th>
        <td mat-cell *matCellDef="let element"> {{element.isDeleted}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon aria-hidden="false" (click)="delete(row)" style="cursor: pointer;" aria-label="Example home icon">
            delete</mat-icon>
          <span style="margin-left: 20px;"></span>
          <mat-icon aria-hidden="false" [routerLink]="['../program', row._id]" style="cursor: pointer;"
            aria-label="Example home icon">edit</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [length]="count" [pageSize]="10" class="table-paginator-style" [pageSizeOptions]="[10, 20]"
      showFirstLastButtons>
    </mat-paginator>



  </mat-card>
</div>