
  <!--Button render form and table start -->
  <div class="campaign-mid-left">
    <div class="create-sms-campaign" (click)="ListCampaings()">
      <!-- <p style="margin-left: 5% !important;"></p> -->
      <div  *ngIf="renderCreateCampaign==true; else ComposeMessage">
         <mat-icon>table_view</mat-icon> VIEW CAMPAINGS
      </div>

      <ng-template #ComposeMessage>
        <mat-icon>add</mat-icon> CREATE CAMPAIGN(CHANNEL)
      </ng-template>
    </div>
  </div>
  <!--Button render form and table end -->

  <!--Render Conditionaly create campaign form and table list start-->
  <div style="margin-left: 2.8%;" *ngIf="renderCreateCampaign == true">
     <!--form title start-->
     <div class="header">
      <h4 style="margin-left: 5px; margin-top: 15px">Create campaign channel</h4>
      </div>
     <!--form title end-->

     <!--row with icon channel type start--->
      <div class="row">
        <div
          class="item-icon-indigo"
          matTooltip="Create SMS Campaign Channel"
          (click)="campaign('SMS')"
        >
          <img src="https://img.icons8.com/ios-filled/50/000000/messaging-.png" />
        </div>
        <div
          class="item-icon-white"
          matTooltip="Create Push notification Campaign Channel"
          (click)="campaign('Push notification')"
        >
          <img
            src="https://img.icons8.com/ios-filled/50/000000/push-notifications.png"
          />
        </div>
        <div
          class="item-icon-red"
          matTooltip="Create In app Campaign Channel"
          (click)="campaign('In app')"
        >
          <img
            src="https://img.icons8.com/ios-filled/50/000000/smartphone-tablet.png"
          />
        </div>
      </div>
      <!--row with icon channel type end---> 

      <!--Campaign set up and configaration-->
<div>
  <div class="header">
    <h4 style="margin-left: 5px; margin-top: 40px; margin-bottom: 15px">
      Set up and configaration for channel {{ channel }}
    </h4>
  </div>

  <!--Channel configaration form start-->
  <!--conditionaly render Channel configaration form based on type -->
  <div style="margin-left: 3%;" *ngIf="DisplayOtherFrom == true">
    <div style="width: 90%; margin-left: 15px">
      <p style="font-size: large; font-weight: bold; color: grey">
        The feature to create and configure {{ channel }} will be added soon
      </p>
    </div>
  </div>
  <div *ngIf="HideSMSForm == true">
    <div style="width: 90%; margin-left: 1.2%">
      <mat-card class="mat-card-content">
        <mat-card-content>
          <form [formGroup]="campaignForm" (ngSubmit)="onSubmit()">
            <label class="campaing-form-lable" for="Campaing objective"
              >Campaing name</label
            ><br />
            <input
              style="width: 60% !important; height: 40px !important"
              name="campaigName"
              formControlName="campaigName"
              [class.valid]="
                this.campaignForm.get('campaigName').valid &&
                (this.campaignForm.get('campaigName').dirty ||
                  this.campaignForm.get('campaigName').touched)
              "
              [class.invalid]="
                this.campaignForm.get('campaigName').invalid &&
                (this.campaignForm.get('campaigName').dirty ||
                  this.campaignForm.get('campaigName').touched)
              "
            /><br />
            <div
              *ngIf="
                this.campaignForm.get('campaigName').invalid &&
                this.campaignForm.get('campaigName').errors &&
                (this.campaignForm.get('campaigName').dirty ||
                  this.campaignForm.get('campaigName').touched)
              "
            >
              <small
                class="text-danger"
                *ngIf="
                  this.campaignForm.get('campaigName').hasError('required')
                "
              >
                Campaign name field is required.
              </small>
            </div>
            <label class="campaing-form-lable" for="Campaing objective"
              >Channel Type {{ channel }}</label
            ><br />
            <input
              style="width: 60% !important; height: 40px !important"
              name="channelType"
              formControlName="channelType"
              [class.valid]="
                this.campaignForm.get('channelType').valid &&
                (this.campaignForm.get('channelType').dirty ||
                  this.campaignForm.get('channelType').touched)
              "
              [class.invalid]="
                this.campaignForm.get('channelType').invalid &&
                (this.campaignForm.get('channelType').dirty ||
                  this.campaignForm.get('channelType').touched)
              "
            /><br />
            <div
              *ngIf="
                this.campaignForm.get('channelType').invalid &&
                this.campaignForm.get('channelType').errors &&
                (this.campaignForm.get('channelType').dirty ||
                  this.campaignForm.get('channelType').touched)
              "
            >
              <small
                class="text-danger"
                *ngIf="
                  this.campaignForm.get('channelType').hasError('required')
                "
              >
              Channel type field is required.
              </small>
            </div>
            <label class="campaing-form-lable" for="Campaing objective"
              >Run time type {{this.settings['singleSelection']}}</label
            ><br />
            <div class="row">
              <div
                class="RunTimeTypeStyleSheet"
                *ngFor="let RuntimeType of RuntimeTypes"
              >
                <input
                  style="margin-right: 1%"
                  [value]="RuntimeType"
                  type="radio"
                  name="RunTimeType"
                  formControlName="RunTimeType"
                  (change)="onRadioChange(RuntimeType)"
                />
                <label class="campaing-form-lable" for="Campaing objective">{{
                  RuntimeType
                }}</label>
              </div>
              <!--if true show calendar-->
              <div class="row" *ngIf="displayCalendar == true">
                <div class="dateContainer">
                  <input
                    matInput
                    placeholder="Choose a date"
                    [satDatepicker]="picker"
                    [value]="dateRange"
                    name="date"
                    formControlName="date"
                    (dateChange)="getDateRange($event)"
                  />
                  <sat-datepicker
                    #picker
                    [rangeMode]="isMultipleDate"
                  ></sat-datepicker>
                  <sat-datepicker-toggle
                    matSuffix
                    [for]="picker"
                  ></sat-datepicker-toggle>
                </div>
              </div>
              <div
                *ngIf="displayCalendar == true"
                style="
                  width: 25% !important;
                  margin-top: 0.5%;
                  margin-bottom: 0%;
                  margin-left: 2.5%;
                "
              >
                <ng-multiselect-dropdown
                  #multiSelect
                  [placeholder]="'Select message to map'"
                  [data]="data"
                  [formControl]="f.normalMessage"
                  [settings]="settings"
                  [disabled]="false"
                  (onFilterChange)="onFilterChange($event)"
                  (onDropDownClose)="onDropDownClose($event)"
                  (onSelect)="onItemSelect($event,null)"
                  (onDeSelect)="onDeSelect($event)"
                  (onSelectAll)="onSelectAll($event)"
                  (onDeSelectAll)="onDeSelectAll($event)"
                >
                </ng-multiselect-dropdown>
              </div>
            </div>
            <!--if true show campaign stages-->
            <div *ngIf="isReccuring == true">
              <label class="campaing-form-lable" for="Campaing objective"
                >Campaing duration</label
              ><br />
              <input
                style="width: 60% !important; height: 40px !important"
                name="recuringCampaignDuration"
                formControlName="recuringCampaignDuration"
              /><br />
              <div formGroupName="campaignStages">
                <div class="row">
                  <button
                    color="primary"
                    mat-raised-button
                    style="
                      margin-left: 15px;
                      margin-top: 10px;
                      margin-bottom: 10px;
                    "
                    type="button"
                    (click)="addCampaignStages()"
                  >
                    Add stages
                  </button>
                </div>
                <div formArrayName="stage">
                  <div
                    *ngFor="
                      let stage of campaignStagez?.controls;
                      let i = index
                    "
                    [formGroupName]="i"
                  >
                    <div class="row">
                      <p
                        style="
                          margin-right: 50px;
                          font-weight: bold;
                          font-size: 20px;
                        "
                      >
                        stage {{ i + 1 }}
                      </p>
                      <label
                        style="font-weight: bold; font-size: 20px"
                        for="Campaing objective"
                        >Map message to campaign stage</label
                      >
                    </div>
                    <div style="margin-bottom: 10px; margin-top: 10px">
                      <div class="row">
                        <input
                          style="margin-left: 15px; margin-right: 10px"
                          formControlName="from"
                          placeholder="From "
                        />
                        <input
                          style="margin-right: 10px"
                          formControlName="to"
                          placeholder="to"
                        />
                        <div style="width: 40% !important; margin-right: 10px">
                          <ng-multiselect-dropdown
                            #multiSelect
                            [placeholder]="'Select message to map'"
                            [data]="selectedItems"
                            [formControl]="f.mappedMessages"
                            [settings]="settings2"
                            [disabled]="false"
                            (onFilterChange)="onFilterChange($event)"
                            (onDropDownClose)="onDropDownClose($event)"
                            (onSelect)="onItemSelect($event, i)"
                            (onDeSelect)="onDeSelect($event)"
                            (onSelectAll)="onSelectAll($event)"
                            (onDeSelectAll)="onDeSelectAll($event)"
                          >
                          </ng-multiselect-dropdown>
                        </div>
                        <button
                          color="warn"
                          mat-raised-button
                          type="button"
                          (click)="removeCapaingStage(i)"
                        >
                          Remove stage
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button
              style="margin-right: 30px"
              mat-raised-button
              type="submit"
              color="primary"
              [disabled]="this.campaignForm.invalid"
            >
              SUBMIT
            </button>
            <button mat-raised-button type="button" (click)="resetForm()">
              RESET
            </button>
          </form>
          <!--Drop down with mapped messages-->
          <label class="campaing-form-lable" for="Campaing objective"
            >Message Mapped to channel</label
          ><br />
          <div
            style="width: 60% !important; margin-top: 10px; margin-bottom: 10px"
          >
            <ng-multiselect-dropdown
              #multiSelect
              [placeholder]="'View Mapped messages'"
              [data]="data"
              [settings]="settings"
              [disabled]="true"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)"
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)"
            >
            </ng-multiselect-dropdown>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </div>

  <!--Channel Configaration form end-->
</div>
</div>

<div style="margin-left: 3%;" *ngIf="renderCreateCampaign == false">
   <label class="campaing-form-lable">LIST OF CAMPAIGNS</label>
       <div >
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Search Campings" #input>
        </mat-form-field>
       </div>

       <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 sms-campaing">

        <!-- CampaignName Objective Column -->
        <ng-container matColumnDef="CampaignName">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">CAMPAIGN NAME</p></th>
          <td mat-cell *matCellDef="let element"> {{element.campaigName}} </td>
        </ng-container>
      
        <!-- ChannelType Column -->
        <ng-container matColumnDef="ChannelType">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">CHANNEL TYPE</p></th>
          <td mat-cell *matCellDef="let element"> {{element.channelType}} </td>
        </ng-container>


        <!-- RunTimeType Column -->
        <ng-container matColumnDef="RunTimeType">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">RUN TIME TYPE</p></th>
          <td mat-cell *matCellDef="let element"> {{element.RunTimeType}} </td>
        </ng-container>
      
        <!-- date Column or start date -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">CAMPAING START TIME</p></th>
          <td  mat-cell *matCellDef="let element"> {{element.date.begin==null?DateFormatter(element.date.begin):DateFormatter(element.createdAt)}}</td>
        </ng-container>

         <!-- CampaingStartTime  Column end date -->
         <ng-container matColumnDef="CampaingStartTime">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">CAMPAING END TIME</p></th>
          <td mat-cell *matCellDef="let element"> {{DateFormatter(element.date.end)}} </td>
        </ng-container>
      

         <!-- MappedMessage  Column -->
         <ng-container matColumnDef="MappedMessage">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">MAPPED MESSAGE</p></th>
          <td mat-cell *matCellDef="let element">{{element.normalMessage[0].Message ==null ? null : (element.normalMessage[0].Message.substring(0,10)) }}... </td>
        </ng-container>

         <!-- isReccuring Column -->
         <ng-container matColumnDef="isReccuring">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">IS RECCURING</p></th>
          <td mat-cell *matCellDef="let element">{{element.isReccuring}} </td>
        </ng-container>

        <!-- CreatedAt By Column -->
        <ng-container matColumnDef="CreatedAt">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">CREATED AT</p></th>
          <td mat-cell *matCellDef="let element"> {{DateFormatter(element.createdAt)}} </td>
        </ng-container>

         <!-- UpdatedAt Column -->
         <ng-container matColumnDef="UpdatedAt">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">UPDATED AT</p></th>
          <td mat-cell *matCellDef="let element"> {{DateFormatter(element.updatedAt)}} </td>
        </ng-container>

        <!-- Delete Action Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">DELETE</p></th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="deleteCampaign(element)">
            <mat-icon >delete</mat-icon> DELETE
          </button> </td>
        </ng-container>

        <!-- Update Action Column -->
        <ng-container matColumnDef="Update">
          <th mat-header-cell *matHeaderCellDef><p class="Theader">UPDATE</p></th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="updateCampaign(element)">
            <mat-icon>update</mat-icon> UPDATE
          </button> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

       <!--paginator start-->
       <div style="margin-right: 10%;">
      <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      [length]="campaignCount"
      showFirstLastButtons
      aria-label="Select page of campaign list"
      (page)="pageEvent=$event; onPaginateChangeEvent($event)"
    >
    </mat-paginator>
      </div>
      <!--paginator end-->
</div>
<!--Render Conditionaly create campaign form and table list end-->
 






