<!-- <div class="container"> -->
<div class="header">
  <h4 style="margin-left: 5px; margin-top: 15px">Create campaign channel</h4>
</div>

<!--row with channel type--->
<div class="row">

    <div class="item-icon" matTooltip="Create SMS Campaign Channel" (click)="campaign('Sms')"><img src="https://img.icons8.com/ios-filled/50/000000/messaging-.png"/></div>
    <div class="item-icon" matTooltip="Create Push notification Campaign Channel" (click)="campaign('Push notification')"><img src="https://img.icons8.com/ios-filled/50/000000/push-notifications.png"/></div>
    <div class="item-icon" matTooltip="Create In app Campaign Channel" (click)="campaign('In app')"><img src="https://img.icons8.com/ios-filled/50/000000/smartphone-tablet.png"/></div>

</div>
<!--Campaign set up and configaration-->
<div>
    <div class="header">
        <h4 style="margin-left: 5px; margin-top: 40px;margin-bottom: 15px;">Set up and configaration for channel {{channel}}</h4>
    </div>
</div>

<!-- </div> -->
