<!--Conditionaly rendere form depending on type-->
<!--Render create user form end-->
<div *ngIf="showCreate===true"  class="container">
  <mat-card style="margin-top: 30px;">
    <h2>{{this.heading}} user</h2>
    <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
      <hr />
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Role</mat-label>
          <mat-select
            name="role"
            (selectionChange)="changeRole($event)"
            formControlName="roles"
            required
          >
            <mat-option *ngFor="let role of roles" [value]="role">{{
              role
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="username"
            placeholder="Username"
            formControlName="username"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="firstName"
            placeholder="First name"
            formControlName="firstName"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="lastName"
            placeholder="Last name"
            formControlName="lastName"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorEmail"
            placeholder="Vendor Email"
            formControlName="vendorEmail"
            required
          />
          <mat-error *ngIf="userForm.get('vendorEmail').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>

          <mat-error *ngIf="userForm.get('vendorEmail').hasError('email')">
            <strong>Invalid</strong> Email
          </mat-error>

          <mat-error
            *ngIf="
              userForm.get('vendorEmail').hasError('checkIfNotCompanyEmail')
            "
          >
            <strong>Must</strong> be Company Email
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorCompanyName"
            placeholder="Vendor Company Name"
            formControlName="vendorCompanyName"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorPhone"
            placeholder="Vendor Phone Number"
            formControlName="vendorPhone"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorWebsite"
            placeholder="Vendor Address"
            formControlName="vendorWebsite"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
            required
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <button [disabled]="userForm.invalid" mat-raised-button type="submit">
          Create User
        </button>
      </div>
    </form>
  </mat-card>
</div>
<!--Render create user form end-->

<!--Render edit user form start-->
<div *ngIf="showEdit===true"  class="container">
  <mat-card style="margin-top: 30px;">
    <h2>{{this.heading}} user</h2>
    <form [formGroup]="userForm" (ngSubmit)="onUpdate()" novalidate>
      <hr />
      <div class="form-group">
        <mat-form-field style="width: 100%;">
          <mat-label>Role</mat-label>
          <mat-select
            name="role"
            (selectionChange)="changeRole($event)"
            formControlName="roles"
            required
          >
            <mat-option *ngFor="let role of roles" [value]="role">{{
              role
            }}</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="username"
            placeholder="Username"
            formControlName="username"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="firstName"
            placeholder="First name"
            formControlName="firstName"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="lastName"
            placeholder="Last name"
            formControlName="lastName"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorEmail"
            placeholder="Vendor Email"
            formControlName="vendorEmail"
            required
          />
          <mat-error *ngIf="userForm.get('vendorEmail').hasError('required')">
            Email is <strong>required</strong>
          </mat-error>

          <mat-error *ngIf="userForm.get('vendorEmail').hasError('email')">
            <strong>Invalid</strong> Email
          </mat-error>

          <mat-error
            *ngIf="
              userForm.get('vendorEmail').hasError('checkIfNotCompanyEmail')
            "
          >
            <strong>Must</strong> be Company Email
          </mat-error>
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorCompanyName"
            placeholder="Vendor Company Name"
            formControlName="vendorCompanyName"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorPhone"
            placeholder="Vendor Phone Number"
            formControlName="vendorPhone"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group" *ngIf="isVendorRole">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="vendorWebsite"
            placeholder="Vendor Address"
            formControlName="vendorWebsite"
            required
          />
        </mat-form-field>
      </div>
      <div class="form-group">
        <mat-form-field class="input-layouts">
          <input
            matInput
            name="password"
            [type]="hide ? 'password' : 'text'"
            placeholder="Password"
            formControlName="password"
          />
          <mat-icon matSuffix (click)="hide = !hide">{{
            hide ? "visibility_off" : "visibility"
          }}</mat-icon>
        </mat-form-field>
      </div>

      <div>
        <button [disabled]="userForm.invalid" mat-raised-button type="submit">
          Edit User
        </button>
      </div>
    </form>
  </mat-card>
</div>
<!--Render edit user form end-->
