<div class="container">
    <!--Create form start-->
    <div *ngIf="showCreate">
        <mat-card style="margin-top: 30px;">
            <h2>{{heading}} user</h2>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                <hr>
                <div class="form-group">
                    <mat-form-field class="input-layouts">
                        <input matInput name="username" placeholder="Username" formControlName="username" required>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="input-layouts">
                        <input matInput name="password" [type]="hide ? 'password' : 'text'" placeholder="Password"
                            formControlName="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Role</mat-label>
                        <mat-select name="role" formControlName="roles" required>
                            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button [disabled]="userForm.invalid" mat-raised-button type="submit">{{heading}} User</button>
                </div>

            </form>
        </mat-card>
    </div>
    <!--Create form end-->

    <!--Edit form start-->
    <div *ngIf="showEdit">
        <mat-card style="margin-top: 30px;">
            <h2>{{heading}} user</h2>
            <form [formGroup]="userForm" (ngSubmit)="onUpdate()" novalidate>
                <hr>
                <!--In editing we do not change the user name only role and password-->
                <div class="form-group">
                    <mat-form-field class="input-layouts">
                        <input matInput name="username" placeholder="Username" formControlName="username" required>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field class="input-layouts">
                        <input matInput name="password" [type]="hide ? 'password' : 'text'" placeholder="Password"
                            formControlName="password" required>
                        <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>
                <div class="form-group">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Role</mat-label>
                        <mat-select name="role" formControlName="roles" required>
                            <mat-option *ngFor="let role of roles" [value]="role">{{role}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div>
                    <button [disabled]="userForm.invalid" mat-raised-button type="submit">{{heading}} User</button>
                </div>

            </form>
        </mat-card>
    </div>
    <!--Edit form end-->
</div>