
.container2{
    margin-top: 3%;
    float: Right !important;
    width: 450px  !important;
    height: 650px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    border: 1px;
    box-shadow: 3px 3px 3px 3px #888888;
    border-radius: 10px;
}

.container3{
    margin-top: 3%;
    float: Right !important;
    width: 450px  !important;
    height: 700px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 30px;
    
}

.contaner-btn{
    float: right !important;
    background-color: rgb(219, 218, 218) !important;
    margin-block-start: 20px;
}

.btn{
    float: right !important;
    border-radius: 6px !important;
    margin-right: 40px;
}

mat-lable{
    font-family: inherit;
    font-size: 40px;
    font-weight: bold;
    color: black !important;
}


.btn-submit{
    margin-top: 10px; 
    width: 375px; 
    align-content: center;      


}

.input-layouts{
    width: 100%;
}