
<div class="container3">
        <div class="container-btn">
                <button type="button" (click)="showForm()" class="btn btn-primary btn-lg">Create Category</button>     
        </div>
        <div class="container2" [hidden]="isShow">
                <h2>Category</h2>
                <form action="#">
                  <div class="form-group">
                         <label for="Decription">Title</label>
                    <mat-form-field class="input-layouts">
                         <input matInput placeholder="Enter title" value=" ">
                    </mat-form-field>
                  </div>
                  <div class="form-group">
                    <label for="Decription">Description:</label>
                    <mat-form-field class="input-layouts">
                              <textarea matInput placeholder="Enter Descsption" value=" "></textarea>
                    </mat-form-field>
                  </div>

                  <div class="form-group">
                        <label for="Decription">Image Thumb:</label>
                        <input type="file" class="form-control" id="img_thumb" placeholder="Upload image thumb" name="img_thumb">
                   </div>

                   <div class="form-group">
                        <label for="Decription" >Images:</label>
                        <input type="file" class="form-control" id="pwd" placeholder="Enter Upload image thumb" name="pwd">
                   </div>
                   <div class="form-group">          
                        <mat-form-field style="width: 100%;">
                              <mat-label>Tags</mat-label>
                              <mat-select [formControl]="toppings" multiple>
                                <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                              </mat-select>
                         </mat-form-field>   
                   </div>
                   <div class="form-group">
                        <mat-form-field style="width: 100%;">
                              <mat-label>Category</mat-label>
                              <mat-select [formControl]="toppings">
                                   <mat-option *ngFor="let topping of toppingList2" [value]="topping">{{topping}}</mat-option>
                              </mat-select>
                        </mat-form-field>
                   </div>
                  
                   <div style="float: left !important;">
                        <button class="btn-submit"  mat-raised-button type="submit">Submit</button>      
                   </div>
                  
                </form> 
              </div>          
</div>                            
                            
