<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="header">
                    <h1 class="title">Banner Detail</h1>
                </div>
                <div class="content">

                    <p *ngIf="errors">{{ errors }}</p>

                    <form *ngIf="banner">

                        <div class="form-group">
                            <label>Name:</label>
                            <input [(ngModel)]="banner.name" name="name" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Description:</label>
                            <input [(ngModel)]="banner.description" name="description" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Image:</label>
                            <input [(ngModel)]="banner.image" name="image" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>priority:</label>
                            <input type='number' [(ngModel)]="banner.priority" name="priority" class="form-control">
                        </div>

                        <div class="form-group">
                            <mat-slide-toggle [(ngModel)]="banner.status">Status</mat-slide-toggle>

                        </div>

                        <div class="form-group">
                            <mat-slide-toggle [(ngModel)]="banner.isDeleted">Is Deleted</mat-slide-toggle>
                        </div>

                        <div class="form-group">
                            <button (click)="save()" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>