<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="header">
                    <h1 class="title">Banner Detail</h1>
                </div>
                <div class="content">

                    <p *ngIf="errors">{{ errors }}</p>

                    <form *ngIf="banner" #bannerForm="ngForm">

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Name" [(ngModel)]="banner.name" name="name" #name="ngModel"
                                required>
                            <mat-error *ngIf="name.invalid">Name can not be empty</mat-error>
                        </mat-form-field>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Description" [(ngModel)]="banner.description"
                                #description="ngModel" name="description" required>
                            <mat-error *ngIf="description.invalid">Description can not be empty</mat-error>

                        </mat-form-field>


                        <!-- <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Image" [(ngModel)]="banner.image" #image="ngModel" name="image"
                                required>
                            <mat-error *ngIf="image.invalid">Image URL can not be empty</mat-error>
                        </mat-form-field> -->

                        <div class="form-group">
                            <label>Upload banner image</label>
                            <input id="logo" type="file" [(ngModel)]="banner.image" name="image" #image="ngModel"
                                name="image" required />
                        </div>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Priority" type="number" [(ngModel)]="banner.priority"
                                name="priority" #priority="ngModel" required>
                            <mat-error *ngIf="priority.invalid">Banner priority can not be empty</mat-error>
                        </mat-form-field>

                        <div class="form-group">
                            <mat-slide-toggle [(ngModel)]="banner.status">Status</mat-slide-toggle>
                        </div>

                        <div class="form-group">
                            <button mat-raised-button (click)="save()" [disabled]="bannerForm.form.invalid" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>