<div class="card" (click)="Router(RouteParam)">
  <img style="margin-left: 50px" src={{Image_src}}>
  <div class="container">
    <div class="title-contaniner">
     
      <span matBadge={{notification_count}} matBadgeOverlap="true" matBadgePosition="before after" matBadgeColor="blue">
        <div style="margin-left: 50px;">
        <h4 style="margin-top: 50px;"><b>{{card_title}}</b></h4>
      </div>
      </span>
      <!-- removing the code for now -->
      <!-- <div class="btn-view">
        <p (click)="viewItem()" style="font-weight: 700; text-align: center;">View {{card_title}}</p>
      </div> -->

    </div>
  </div>
</div>