<!-- <app-side-nav></app-side-nav> -->

<mat-toolbar class="example-header">
  <button mat-button (click)="sidenav.toggle()">
    <mat-icon>menu</mat-icon>
  </button>
  Azam CMS
</mat-toolbar>


<mat-sidenav-container class="example-container">
  <mat-sidenav #sidenav mode="side" opened="false" class="example-sidenav" [fixedInViewport]=false [fixedTopGap]=0
    [fixedBottomGap]="0">
    <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
    <!-- <mat-nav-list>
      <a mat-list-item routerLink="dashboard">Dashboard</a>
      <a mat-list-item>News</a>

      <a mat-list-item>Story</a>
      <a mat-list-item>Tag</a>
      <a mat-list-item>Videos</a>
      <a mat-list-item>Photos</a>

      <a mat-list-item routerLink="categories" routerLinkActive="active">Categories</a>
      <a mat-list-item>Sub Categories</a>
      <a mat-list-item>Tags</a>
      <a mat-list-item>Channels</a>
      <a mat-list-item>Banner</a>
      <a mat-list-item routerLink="banner">Banner Mapping</a>
      <a mat-list-item routerLink="package">Package</a>
      <a mat-list-item routerLink="coupon">Coupons</a>
      <a mat-list-item>Series</a>
      <a mat-list-item routerLink="vod">Video on Demand</a>
      <a mat-list-item routerLink="radio">Radio</a>
      <a mat-list-item routerLink="product">In-App Purchase Products</a>
      <a mat-list-item routerLink="video-library">Video Library</a>


    </mat-nav-list> -->
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>