<mat-toolbar class="example-header">
  <div>
    <button mat-button (click)="sidenav.toggle()">
      <mat-icon color="primary">menu</mat-icon>
    </button>
    <img style="height: 30px !important;" src="/assets/azam-logo.png" />
  </div>

  <div>
    <button mat-button [matMenuTriggerFor]="menu">
      <mat-icon color="primary">account_circle</mat-icon>
      Settings
    </button>

    <mat-menu #menu="matMenu">
      <button
        *ngIf="userInfo.isSuperAdmin == true"
        mat-menu-item
        [routerLink]="['admin/users']"
      >
        <span>Users</span>
      </button>
      <button
        *ngIf="userInfo.isSuperAdmin == true"
        mat-menu-item
        [routerLink]="['admin/roles']"
      >
        <span>Roles</span>
      </button>

      <button mat-menu-item (click)="logout()">
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<mat-sidenav-container class="example-container">
  <mat-sidenav
    #sidenav
    mode="side"
    opened="true"
    class="example-sidenav"
    [fixedInViewport]="false"
    [fixedTopGap]="0"
    [fixedBottomGap]="0"
  >
    <mat-nav-list>
      <mat-list-item routerLink="dashboard" class="parent">
        <mat-icon color="primary" style="margin-right: 5px;"
          >dashboard</mat-icon
        >

        <span class="full-width">Dashboard</span>
      </mat-list-item>

      <mat-list-item (click)="showMobile = !showMobile" class="parent">
        <mat-icon color="primary" style="margin-right: 5px;"
          >smartphone</mat-icon
        >
        <span class="full-width" *ngIf="isExpanded || isShowing">Mobile</span>
        <mat-icon
          class="menu-button"
          color="primary"
          [ngClass]="{ rotated: showMobile }"
          *ngIf="isExpanded || isShowing"
          >expand_more
        </mat-icon>
      </mat-list-item>
      <div
        class="submenu"
        [ngClass]="{ expanded: showMobile }"
        *ngIf="isShowing || isExpanded"
      >
        <a
          mat-list-item
          *ngIf="isModulePermitted('category')"
          (click)="getCategories($event)"
          >Categories</a
        >
        <a
          mat-list-item
          *ngIf="isModulePermitted('subCategory')"
          (click)="routeToSubCategories($event)"
          >Sub Categories</a
        >
        <a
          mat-list-item
          *ngIf="isModulePermitted('tag')"
          routerLink="MobileTags"
          >Tags</a
        >
        <a mat-list-item *ngIf="isModulePermitted('banner')" routerLink="banner"
          >Banner</a
        >
        <a
          mat-list-item
          *ngIf="isModulePermitted('Program')"
          routerLink="tv-guide"
          >Tv Guide</a
        >
        <!-- <a mat-list-item routerLink="program">Program</a> -->
        <a
          mat-list-item
          *ngIf="isModulePermitted('package')"
          routerLink="package"
          >Package</a
        >
        <a
          mat-list-item
          *ngIf="
            isModulePermitted('vod') ||
            isModulePermitted('radio') ||
            isModulePermitted('news')
          "
          routerLink="content"
          >Content</a
        >
        <a
          mat-list-item
          *ngIf="isModulePermitted('cdn')"
          routerLink="video-library"
          >Video Library</a
        >
      </div>

      <mat-list-item
        *ngIf="isModulePermitted('Reports-Portal')"
        (click)="showReports = !showReports"
        class="parent"
      >
        <mat-icon color="primary" style="margin-right: 5px;"
          >bar_chart</mat-icon
        >
        <span class="full-width" *ngIf="isExpanded || isShowing">Reports</span>
        <mat-icon
          class="menu-button"
          color="primary"
          [ngClass]="{ rotated: showReports }"
          *ngIf="isExpanded || isShowing"
          >expand_more
        </mat-icon>
      </mat-list-item>

      <div
        class="submenu"
        [ngClass]="{ expanded: showReports }"
        *ngIf="isShowing || isExpanded"
      >
        <a
          mat-list-item
          (click)="showCollection = !showCollection"
          class="parent"
        >
          <span class="full-width" *ngIf="isExpanded || isShowing"
            >Collection Reports</span
          >
          <mat-icon
            class="menu-button"
            color="primary"
            [ngClass]="{ rotated: showCollection }"
            *ngIf="isExpanded || isShowing"
            >expand_more
          </mat-icon>
        </a>

        <div
          class="submenu"
          [ngClass]="{ expanded: showCollection }"
          *ngIf="isShowing || isExpanded"
        >
          <a
            mat-list-item
            *ngIf="
              isModulePermitted('Reports-Portal', 'view-all') ||
              isModulePermitted('Reports-Portal', 'view-collection-summary')
            "
            routerLink="reports/collections/summary"
            >Summary</a
          >
          <a
            mat-list-item
            *ngIf="
              isModulePermitted('Reports-Portal', 'view-all') ||
              isModulePermitted('Reports-Portal', 'view-collection-summary')
            "
            routerLink="reports/collections/detailed"
            >Detailed</a
          >
        </div>
        <a mat-list-item *ngIf="isModulePermitted('Reports-Portal', 'view-all') || isModulePermitted('Reports-Portal', 'view-user-reports')" routerLink="reports">Users Reports</a>
        <a mat-list-item *ngIf="isModulePermitted('Reports-Portal', 'view-all') || isModulePermitted('Reports-Portal', 'view-transaction-reports')" routerLink="reports/transactions">Transaction Reports</a>
        <a mat-list-item *ngIf="isModulePermitted('Reports-Portal', 'view-all') || isModulePermitted('Reports-Portal', 'view-transaction-reports')" routerLink="reports/requests">Requests</a>
        <a mat-list-item *ngIf="isModulePermitted('Reports-Portal', 'view-all') || isModulePermitted('Reports-Portal', 'view-transaction-reports')" routerLink="reports/subscriptions">Subscription Reports</a>
        <a mat-list-item *ngIf="isModulePermitted('Reports-Portal', 'view-all') || isModulePermitted('Reports-Portal', 'view-transaction-reports')" routerLink="reports/invoices">Invoice Reports</a>
        <a mat-list-item *ngIf="isModulePermitted('Reports-Portal', 'view-all') || isModulePermitted('Reports-Portal', 'view-transaction-reports')" routerLink="reports/revenue">Revenue Reports</a>
      </div>

      <mat-list-item
        *ngIf="
          isModulePermitted('Customer-Portal') ||
          isModulePermitted('customer-support')
        "
        (click)="showSupport = !showSupport"
        class="parent"
      >
        <mat-icon color="primary" style="margin-right: 5px;">people</mat-icon>
        <span class="full-width" *ngIf="isExpanded || isShowing">Support</span>
        <mat-icon
          class="menu-button"
          color="primary"
          [ngClass]="{ rotated: showSupport }"
          *ngIf="isExpanded || isShowing"
          >expand_more
        </mat-icon>
      </mat-list-item>

      <div
        class="submenu"
        [ngClass]="{ expanded: showSupport }"
        *ngIf="isShowing || isExpanded"
      >
        <a
          mat-list-item
          *ngIf="isModulePermitted('customer-support', 'view')"
          routerLink="support"
          >Logged Support</a
        >
        <a
          mat-list-item
          *ngIf="isModulePermitted('Customer-Portal')"
          routerLink="support/user-information"
          >User Information</a
        >
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
