<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="header">
                    <h1 class="title">Video Library Detail</h1>
                </div>
                <div class="content">

                    <p *ngIf="errors">{{ errors }}</p>

                    <form *ngIf="videoLibrary">



                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Id" [(ngModel)]="videoLibrary.id" name="id">
                        </mat-form-field>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Name" [(ngModel)]="videoLibrary.title" name="title">
                        </mat-form-field>



                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Stream URL" [(ngModel)]="videoLibrary.streamURL"
                                name="streamURL">
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="JWP Media ID" [(ngModel)]="videoLibrary.jwMediaID"
                                name="jwMediaID">
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Duration" [(ngModel)]="videoLibrary.duration" name="duration">
                        </mat-form-field>

                        <div class="form-group">
                            <button (click)="save()" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>