<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="header">
                    <h1 class="title">Video Library Detail</h1>
                </div>
                <div class="content">

                    <p *ngIf="errors">{{ errors }}</p>

                    <form *ngIf="videoLibrary">

                        <div class="form-group">
                            <label>id:</label>
                            <input [(ngModel)]="videoLibrary.id" name="id" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Name:</label>
                            <input [(ngModel)]="videoLibrary.title" name="title" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Stream URL:</label>
                            <input [(ngModel)]="videoLibrary.streamURL" name="streamURL" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>JWP Media ID:</label>
                            <input [(ngModel)]="videoLibrary.jwMediaID" name="jwMediaID" class="form-control">
                        </div>

                        <div class="form-group">
                            <label>Duration:</label>
                            <input [(ngModel)]="videoLibrary.duration" name="duration" class="form-control">
                        </div>

                        <div class="form-group">
                            <button (click)="save()" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>