<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="header">
                    <h1 class="title">Video Library Detail</h1>
                </div>
                <div class="content">
                    <p *ngIf="errors">{{ errors }}</p>
                   
                    <form  #videoLibraryForm="ngForm">

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Name" [(ngModel)]="videoLibrary.title" name="title"
                                #title="ngModel" required>
                            <mat-error *ngIf="title.invalid">Video library id can not be empty</mat-error>
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Stream URL" [(ngModel)]="videoLibrary.streamURL"
                                name="streamURL" #streamURL="ngModel" required>
                            <mat-error *ngIf="streamURL.invalid">Video library streamURL can not be empty</mat-error>
                        </mat-form-field>

                        <div class="form-group">
                            <button [disabled]="videoLibraryForm.form.invalid" (click)="save()" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>