<div class="container">
  <div class="main-content-style" (window:resize)="onResize($event)">
    <div class="col">
      <h4>Campaign</h4>
    </div>

    <div class="row">
      <mat-card class="mid">
        <!-- <mat-form-field appearance="fill">
            <mat-label><mat-icon color="primary">date_range</mat-icon> Between</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="Start date">
              <input matEndDate placeholder="End date">
            </mat-date-range-input>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field> -->

        <mat-form-field appearance="outline">
          <mat-label
            ><mat-icon color="primary">date_range</mat-icon> Between</mat-label
          >
          <input
            matInput
            placeholder="Choose a date"
            [satDatepicker]="picker"
            [value]="date"
          />
          <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
          <sat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></sat-datepicker-toggle>
        </mat-form-field>

        <div class="mid-left">
          <div style="margin-top: 5px; margin-right: 20px">Create Campaign</div>
          <button mat-raised-button>
            <mat-icon color="primary">add_circle</mat-icon> Campaign
          </button>
        </div>
      </mat-card>
    </div>

    <div class="row">
      <div class="mid">
        <div class="mid-right">
          <div style="margin-right: 5px">
            <mat-form-field appearance="outline">
              <mat-icon matSuffix>search</mat-icon>
              <input matInput placeholder="Search" />
            </mat-form-field>
          </div>
          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label>Channel</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let Channel of Channels"
                  [value]="Channel.value"
                >
                  {{ Channel.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label>Delivery</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let Channel of Channels"
                  [value]="Channel.value"
                >
                  {{ Channel.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let Status of Statuses"
                  [value]="Status.value"
                >
                  {{ Status.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label
                ><mat-icon color="primary">add</mat-icon> Filter</mat-label
              >
              <mat-select>
                <mat-option
                  *ngFor="let Channel of Channels"
                  [value]="Channel.value"
                >
                  {{ Channel.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Channel">
          <th mat-header-cell *matHeaderCellDef width="3%">Channel</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Start time">
          <th mat-header-cell *matHeaderCellDef width="3%">Start time</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Created time">
          <th mat-header-cell *matHeaderCellDef width="3%">Created time</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Sent">
          <th mat-header-cell *matHeaderCellDef width="3%">Sent</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        length="50"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
