<div class="container3">
    <div class="container-btn">
        <button type="button" (click)="toggleDisplay()" class="btn btn-primary btn-lg">Create Channels</button>
    </div>
    <div class="container2" [hidden]="isShow">
        <h2>Create Channels</h2>
        <form>
            <div class="form-group">
                <label for="Decription">Name</label>
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Channel name" value=" ">
                </mat-form-field>
            </div>


            <div class="form-group">
                <label for="Decription">Upload Logo:</label>
                <input type="file" class="form-control" id="pwd" placeholder="Enter Upload image thumb" name="pwd">
            </div>

            <div class="form-group">
                <label for="Decription">Country</label>
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Enter Country name" value=" ">
                </mat-form-field>
            </div>

            <div class="form-group">
                <label for="Decription">Wowza URL</label>
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Enter Wowza URL">
                </mat-form-field>
            </div>

            <div class="form-group">
                <label for="Decription">JW Media ID</label>
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Enter Media ID">
                </mat-form-field>
            </div>

            <div class="form-group">
                <div>
                    <label>Default URI</label>
                </div>
                <mat-radio-group>
                    <mat-radio-button value="Wowza">Wowza</mat-radio-button>
                    <mat-radio-button value="Tata">Other </mat-radio-button>
                </mat-radio-group>

            </div>

            <div class="form-group">
                    <label for="Decription">Category</label>
                    <mat-form-field class="input-layouts">
                        <input matInput placeholder="Enter Channel Category">
                    </mat-form-field>
            </div>

            <div class="form-group">
                    <label for="Decription">Sub Category</label>
                    <mat-form-field class="input-layouts">
                        <input matInput placeholder="Enter Channel Sub Category">
                    </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Tags</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-option *ngFor="let topping of toppingList" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Type</mat-label>
                    <mat-select [formControl]="toppings">
                            <mat-option *ngFor="let topping of toppingList3" [value]="topping">{{topping}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div style="float: left !important;">
                <button class="btn-submit" mat-raised-button type="submit">Create Channel</button>
            </div>

        </form>
    </div>
</div>