<div class="container">
  <mat-card style="margin-top: 30px;">
    <mat-card-title>Content</mat-card-title>
    <mat-card-content>

    </mat-card-content>
  </mat-card>

  <mat-card style="margin-top: 30px;">
    <mat-form-field>
      <mat-label>Type</mat-label>
      <mat-select (selectionChange)="getContentType($event)" [(ngModel)]="selectedType">
        <mat-option *ngFor="let type of types" [value]="type">{{type}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div>
      <mat-form-field style="width: 86%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <button mat-raised-button color="primary" style="margin-left: 23px;" (click)="openDialog()">
        Create Content
      </button>
    </div>
    <table mat-table style="width: 100%;" [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> No. </th>
        <td mat-cell *matCellDef="let element; let i= index"> {{(paginator.pageIndex*paginator.pageSize)+i+1}}</td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Type </th>
        <td mat-cell *matCellDef="let element"> {{selectedType}} </td>
      </ng-container> <!-- Sub Categories Column -->

      <!-- Sub Categories Column -->
      <ng-container matColumnDef="vodType" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> VOD Type </th>
        <td mat-cell *matCellDef="let element"> {{element.vodType}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Status </th>
        <td mat-cell *matCellDef="let element"> {{element.status? 'ACTIVE':'INACTIVE'}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon aria-hidden="false" (click)="delete(row)" aria-label="Example home icon">delete</mat-icon>
          <span style="margin-left: 20px;"></span>
          <mat-icon aria-hidden="false" [routerLink]="['../content', row.id]" aria-label="Example home icon">edit
          </mat-icon>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <!-- <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator> -->
    <mat-paginator [length]="count" [pageSize]="5" class="table-paginator-style" [pageSizeOptions]="[5, 10]">
    </mat-paginator>
  </mat-card>

</div>