<div   class="container-btn2">
        <button type="button" mat-raised-button (click)="routeToCategoryList()" class="btn btn-primary btn-lg">Back to Category List</button>     
</div>
<div class="container3">
    <div class="container2">
        <h2>Category</h2>
        <form [formGroup]="mobileCategoryForm">
                <!-- {{mobileCategoryForm.value|json}} -->
                <hr>             
            <label for="Title">Title</label> 
            <div class="form-group">   
                <mat-form-field class="input-layouts">
                    <input  matInput [formControl]="titleFormControll" placeholder="Enter title"  required>
                </mat-form-field>
                
                <!-- <mat-error *ngIf="mobileCategoryForm.get('Title').touched && mobileCategoryForm.invalid"> -->
                        <mat-error *ngIf="titleFormControll.errors?.required">Content title can not be empty</mat-error>
                        <mat-error *ngIf="titleFormControll.errors?.pattern">Enter a valid Title name</mat-error>
                <!-- </mat-error>  -->
                
            </div>
            <div class="form-group">
                <label for="Decription">Description:</label>
                <mat-form-field class="input-layouts">
                    <textarea formControlName="Description" matInput placeholder="Enter Descsption" required></textarea>
                </mat-form-field>
            </div>
            <mat-error *ngIf="mobileCategoryForm.get('Description').touched && mobileCategoryForm.invalid">
                    <mat-error *ngIf="mobileCategoryForm.get('Description').errors?.required">Content title can not be empty</mat-error>
                    <mat-error *ngIf="mobileCategoryForm.get('Description').errors?.pattern">Enter a valid Title name</mat-error>
            </mat-error> 

            <div class="form-group">
                <label for="Image Thumb">Image Thumb:</label>
                <input formControlName="ImageThumb"  type="file" class="form-control"   placeholder="Upload image thumb">
            </div>

            <div class="form-group">
                <label for="Decription">Images:</label>
                <input formControlName="Images" type="file" class="form-control" placeholder="Enter Upload image thumb" >
            </div>

            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Tags</mat-label>
                    <mat-select formControlName="Tags"   multiple>
                        <mat-option *ngFor="let Tag of Tags" [value]="Tag">{{Tag}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="Category" name="MobileCategoryType" >
                        <mat-option *ngFor="let Categorie of Categories" [value]="Categorie">{{Categorie}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Category Language</mat-label>
                        <mat-select formControlName="Language" name="MobileTagsLanguage" >
                            <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            <div style="float: left !important;">
                <button class="btn-submit" mat-raised-button type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>