<div   class="container-btn2">
        <button type="button" mat-raised-button (click)="routeToCategoryList()" class="btn btn-primary btn-lg">Back to Category List</button>     
</div>
<div class="container3">
    <div class="container2">
        <h2>Category</h2>
        <form action="#">
            <label for="Title">Title</label> 
            <div class="form-group">   
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Enter title" value=" ">
                </mat-form-field>
            </div>


            <div class="form-group">
                <label for="Decription">Description:</label>
                <mat-form-field class="input-layouts">
                    <textarea matInput placeholder="Enter Descsption" value=" "></textarea>
                </mat-form-field>
            </div>

            <div class="form-group">
                <label for="Decription">Image Thumb:</label>
                <input type="file" class="form-control" id="img_thumb" placeholder="Upload image thumb"
                    name="img_thumb">
            </div>

            <div class="form-group">
                <label for="Decription">Images:</label>
                <input type="file" class="form-control" id="pwd" placeholder="Enter Upload image thumb" name="pwd">
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Tags</mat-label>
                    <mat-select [formControl]="toppings" multiple>
                        <mat-option *ngFor="let Tag of Tags" [value]="Tag">{{Tag}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Category</mat-label>
                    <mat-select [formControl]="toppings">
                        <mat-option *ngFor="let Categorie of Categories" [value]="Categorie">{{Categorie}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div class="form-group">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Category Language</mat-label>
                        <mat-select [formControl]="toppings">
                            <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>

            <div style="float: left !important;">
                <button class="btn-submit" mat-raised-button type="submit">Submit</button>
            </div>

        </form>
    </div>
</div>