<div>
     <div class="container d-flex justify-content-center" style="margin-top:30px;">

          <mat-card>
               <h2>Create Tags</h2>
               <form [formGroup]="tagForm" >
                    <mat-form-field class="input-layouts">
                         <input matInput placeholder="Name" formControlName="name">
                    </mat-form-field>


                    <mat-form-field style="width: 100%;">
                         <mat-label>Language</mat-label>
                         <mat-select formControlName="language">
                              <mat-option *ngFor="let lang of languages" [value]="lang._id">{{lang.name}}
                              </mat-option>
                         </mat-select>
                    </mat-form-field>

                    <mat-form-field style="width: 100%;">
                         <mat-label>Type</mat-label>
                         <mat-select formControlName="type">
                              <mat-option *ngFor="let typ of types" [value]="typ">{{typ}}
                              </mat-option>
                         </mat-select>
                    </mat-form-field>


                    <div>
                         <button [disabled]="tagForm.invalid" color='primary' mat-raised-button type="submit" (click)="onSubmit()">{{tagModel?'Update':'Save'}}</button>
                    </div>

               </form>
          </mat-card>
     </div>
</div>