<div class="container">
    <div class="row">
        <div class="col">
            <mat-card>
                <div class="header">
                    <h1 class="title">Create Content</h1>
                </div>
                <div class="content">

                    <p *ngIf="errors">{{ errors }}</p>

                    <form *ngIf="vod">

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Title" [(ngModel)]="vod.title">
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <textarea matInput placeholder="Description" [(ngModel)]="vod.descriptions"></textarea>
                        </mat-form-field>

                        <div class="form-group">
                            <label>Tags</label>
                            <mat-form-field style="width: 100%;">
                                <mat-chip-list #chipList aria-label="Add Tags">
                                    <mat-chip *ngFor="let tag of tags" [selectable]="selectable" [removable]="removable"
                                        (removed)="remove(tag)">
                                        {{tag}}
                                        <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
                                    </mat-chip>
                                    <input placeholder="Enter tag..." [matChipInputFor]="chipList"
                                        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                                        [matChipInputAddOnBlur]="addOnBlur" (matChipInputTokenEnd)="add($event)">
                                </mat-chip-list>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <input matInput [matDatepicker]="vod.releaseDatee" placeholder="Release Date">
                                <mat-datepicker-toggle matSuffix [for]="vod.releaseDatee"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                            </mat-form-field>
                        </div>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Starring" [(ngModel)]="vod.starring">
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Director" [(ngModel)]="vod.director">
                        </mat-form-field>


                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Categories</mat-label>
                                <mat-select [(ngModel)]="vod.categories" multiple>
                                    <mat-option *ngFor="let category of categories" [value]="category">{{category}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Country</mat-label>
                                <mat-select [(ngModel)]="vod.country">
                                    <mat-option *ngFor="let country of countries" [value]="country">{{country}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Sub Category ID</mat-label>
                                <mat-select [(ngModel)]="vod.subCategoryID">
                                    <mat-option *ngFor="let subCategory of categories" [value]="subCategory">
                                        {{subCategory}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Language Details" [(ngModel)]="vod.languageDetail">
                        </mat-form-field>


                        <div class="form-group">

                            <mat-slide-toggle [(ngModel)]="vod.isFree">Is Free</mat-slide-toggle>

                        </div>
                        <div class="form-group">
                            <mat-slide-toggle [(ngModel)]="vod.isFreeAzam">Is Free For Azam</mat-slide-toggle>
                        </div>
                        <div class="form-group">
                            <mat-slide-toggle [(ngModel)]="vod.isSeries">Is Series</mat-slide-toggle>
                        </div>

                        <mat-form-field style="width: 100%;">
                            <mat-select [(ngModel)]="vod.status" placeholder="Status">
                                <mat-option value="active">Active</mat-option>
                                <mat-option value="inactive">Inactive</mat-option>
                            </mat-select>
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Bounding Box" [(ngModel)]="vod.boundingBox">
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="CDN ID" [(ngModel)]="vod.cdnId">
                        </mat-form-field>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Duration" [(ngModel)]="vod.duration">
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Image Thumbnail" [(ngModel)]="vod.imageThumb">
                        </mat-form-field>


                        <div class="form-group">
                            <button (click)="save()" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>