<div class="container">
    <div class="row">
        <div class="col">
            <mat-card style="margin-top: 30px; margin-bottom: 30px; margin-left: 150px; margin-right: 150px;">
                <div class="header">
                    <h1 class="title">Create {{formType}} Content</h1>
                </div>
                <div class="content">

                    <p *ngIf="errors">{{ errors }}</p>

                    <form [formGroup]="contentForm">

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Title" formControlName="title" required>
                            <!-- <mat-error *ngIf="title.invalid">Content title can not be empty</mat-error> -->
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <textarea matInput placeholder="Description" formControlName="description"
                                name="description" required></textarea>
                            <!-- <mat-error *ngIf="description.invalid">Description can not be empty</mat-error> -->
                        </mat-form-field>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Tags</mat-label>
                                <mat-select formControlName="tags" multiple required>
                                    <mat-option *ngFor="let ta of tags" [value]="ta._id">{{ta.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div class="form-group" *ngIf="!isRadioForm">
                            <mat-form-field style="width: 100%;">
                                <input matInput formControlName="releaseDate" [matDatepicker]="picker"
                                    placeholder="Release Date" name="releaseDate">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <!-- <mat-error *ngIf="releaseDate.invalid">Release date can not be empty</mat-error> -->
                            </mat-form-field>
                        </div>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Starring" formControlName="starring" name="starring" required>
                            <!-- <mat-error *ngIf="starring.invalid">Starring can not be empty</mat-error> -->
                        </mat-form-field>

                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Director" formControlName="director" name="director" required>
                            <!-- <mat-error *ngIf="starring.invalid">Director can not be empty</mat-error> -->
                        </mat-form-field>


                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Categories</mat-label>
                                <mat-select formControlName="categories" multiple required>
                                    <mat-option *ngFor="let category of categories" [value]="category._id">
                                        {{category.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Vod Type</mat-label>
                                <mat-select formControlName="vodType" required>
                                    <mat-option *ngFor="let vodTyp of vodTypes" [value]="vodTyp">
                                        {{vodTyp}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Country</mat-label>
                                <mat-select formControlName="country">
                                    <mat-option *ngFor="let count of countries" [value]="count._id">{{count.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Sub Category</mat-label>
                                <mat-select formControlName="subCategories" multiple>
                                    <mat-option *ngFor="let subCategory of categories" [value]="subCategory._id">
                                        {{subCategory.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Lanugage</mat-label>
                                <mat-select formControlName="language">
                                    <mat-option *ngFor="let lang of languages" [value]="lang._id">
                                        {{lang.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <div *ngIf="isSeriesForm">
                            <div class="form-group">
                                <button mat-raised-button (click)="openDialog()">Add Seasons</button>
                            </div>
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th scope="col">#</th>
                                        <th scope="col">Seasons</th>
                                        <th scope="col">Number of Episodes</th>
                                        <th scope="col">Actions</th>
                                    </tr>
                                </thead>
                                <tbody *ngFor="let season of seasons; let i = index">
                                    <tr>
                                        <th scope="row">{{i+1}}</th>
                                        <td>{{season.title}}</td>
                                        <td>{{season.episodes.length}}</td>
                                        <td>
                                            <a style="cursor: pointer;" (click)="openDialog(season)">Edit</a>, <a style="cursor: pointer;" (click)="removeSeason(i)">Delete</a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="form-group">
                            <mat-label>Is Free?</mat-label>
                            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                                formControlName="isFree" style="margin-left: 10px;" required>
                                <mat-button-toggle value=true>TRUE</mat-button-toggle>
                                <mat-button-toggle value=false>FALSE</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <div class="form-group">
                            <mat-label>Is Free Azam?</mat-label>
                            <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                                formControlName="isFreeAzam" style="margin-left: 10px;" required>
                                <mat-button-toggle value=true>TRUE</mat-button-toggle>
                                <mat-button-toggle value=false>FALSE</mat-button-toggle>
                            </mat-button-toggle-group>
                        </div>

                        <div formGroupName="priceDetail">
                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="Price" formControlName="price" required>
                                <!-- <mat-error *ngIf="starring.invalid">Language Details can not be empty</mat-error> -->

                            </mat-form-field>

                            <mat-form-field style="width: 100%;">
                                <input matInput placeholder="Currency" formControlName="currency" required>
                                <!-- <mat-error *ngIf="starring.invalid">Language Details can not be empty</mat-error> -->

                            </mat-form-field>
                        </div>

                        <mat-form-field style="width: 100%;">
                            <mat-select formControlName="status" placeholder="Status">
                                <mat-option value="active">Active</mat-option>
                                <mat-option value="inactive">Inactive</mat-option>
                            </mat-select>
                        </mat-form-field>



                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>Bonding Box</mat-label>
                                <mat-select formControlName="boundingBox" required>
                                    <mat-option *ngFor="let box of boxes" [value]="box">{{box}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div class="form-group">
                            <mat-form-field style="width: 100%;">
                                <mat-label>CDNS</mat-label>
                                <mat-select formControlName="cdnID" required>
                                    <mat-option *ngFor="let cdn of cdns" [value]="cdn._id">{{cdn.name}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>


                        <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Duration" formControlName="duration" name="duration" required>
                            <!-- <mat-error *ngIf="duration.invalid">Duration can not be empty</mat-error> -->
                        </mat-form-field>

                        <!-- <mat-form-field style="width: 100%;">
                            <input matInput placeholder="Image Thumbnail" formControlName="imageThumb" name="imageThumb"
                                required>
                            <mat-error *ngIf="imageThumb.invalid">Image thumbnail can not be empty</mat-error>

                        </mat-form-field> -->
                        <div class="form-group">
                            <label for="Decription">Upload Image Thumb:</label>
                            <input type="file" class="form-control" id="pwd" formControlName="imageThumb"
                                placeholder="Enter Upload image thumb" name="pwd">
                        </div>



                        <div class="form-group">
                            <button (click)="save()" class="btn btn-default">Save</button>
                        </div>

                    </form>

                </div>
            </mat-card>
        </div>
    </div>
</div>