<div   class="container-btn2">
    <button type="button" mat-raised-button (click)="back()" class="btn btn-primary btn-lg">Back to Category List</button>     
</div>
<div class="container3">
<div class="container2">
    <h2>Sub Category</h2>
    <form action="#">
        <label for="Title">Sub Category Name</label> 
        <div class="form-group">   
            <mat-form-field class="input-layouts">
                <input matInput placeholder="Enter title" value=" ">
            </mat-form-field>
        </div>
        <div class="form-group">
            <label for="Decription">Upload Image:</label>
            <input  type="file" class="form-control" id="pwd" placeholder="Enter Upload image thumb" name="pwd">
        </div>
        <div class="form-group">
            <mat-form-field style="width: 100%;">
                <mat-label>Category</mat-label>
                <mat-select [formControl]="toppings" multiple>
                    <mat-option *ngFor="let Category of Categories" [value]="Category">{{Category}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="form-group">
            <mat-form-field style="width: 100%;">
                <mat-label>Sub Category Language</mat-label>
                <mat-select [formControl]="toppings">
                    <mat-option *ngFor="let language of languages" [value]="language">{{language}}</mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div style="float: left !important;">
            <button class="btn-submit" mat-raised-button type="submit">Create Sub Category</button>
        </div>

    </form>
</div>
</div>