<div class="container">
    <mat-card style="margin-top: 30px;">
        <h2>Sub Category</h2>
        <form [formGroup]="subCategoryForm" (ngSubmit)="submit()">
            <hr>
            <div class="form-group">
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Enter Name" formControlName="name" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field class="input-layouts">
                    <input matInput placeholder="Priority" type="number" formControlName="priority" required>
                </mat-form-field>
            </div>

            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Category</mat-label>
                    <mat-select formControlName="parentCatID">
                        <ngx-mat-select-search [formControl]="filterCategoriesCtrl"
                            [noEntriesFoundLabel]="'Category not found'" [placeholderLabel]="'Find Category...'">
                        </ngx-mat-select-search>
                        <mat-option *ngFor="let category of filteredCategories | async" [value]="category._id">{{category.name}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>


            <div class="form-group" *ngIf="isTypeVisible()">
                <mat-form-field style="width: 100%;">
                    <mat-label>Type</mat-label>
                    <mat-select formControlName="type">
                        <mat-option *ngFor="let type of types" [value]="type">{{type}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <!-- <div class="form-group" *ngIf="subCategoryModel">
                <mat-form-field style="width: 100%;">
                    <mat-label>Content</mat-label>
                    <mat-select formControlName="content" multiple>
                        <mat-option *ngFor="let cont of contents" [value]="cont._id">{{cont.title}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div> -->


            <mat-form-field style="width: 100%;">
                <mat-label>Language</mat-label>
                <mat-select formControlName="language">
                    <mat-option *ngFor="let lang of languages" [value]="lang._id">{{lang.name}}
                    </mat-option>
                </mat-select>
            </mat-form-field>

            <div class="form-group">
                <mat-form-field style="width: 100%;">
                    <mat-label>Bounding Box</mat-label>
                    <mat-select formControlName="boundingBox">
                        <mat-option *ngFor="let box of boxes" [value]="box">{{box}}</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            
            <div class="form-group">
                <mat-label>Status</mat-label>
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                    formControlName="status" style="margin-left: 10px;" required>
                    <mat-button-toggle value=true>ACTIVE</mat-button-toggle>
                    <mat-button-toggle value=false>INACTIVE</mat-button-toggle>
                </mat-button-toggle-group>
            </div>
            <div class="form-group">
                <mat-label>Is continue watching</mat-label>
                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                    formControlName="isContinueWatching" style="margin-left: 10px;" required>
                    <mat-button-toggle value=true>YES</mat-button-toggle>
                    <mat-button-toggle value=false>NO</mat-button-toggle>
                </mat-button-toggle-group>
            </div>

            <div>
                <button color='primary' [disabled]="subCategoryForm.invalid" mat-raised-button
                    type="submit">{{subCategoryModel?'Update':'Save'}}</button>
            </div>

        </form>
    </mat-card>
</div>