<div class="container">
    <div>
        <mat-card >
            <h3>CREATE NOTIFICATION FOR MOBILE USER</h3>
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                <hr>
                <div class="form-group">
                    <mat-form-field  style="width: 100%;" >
                        <input matInput name="title" placeholder="Title(topic)" formControlName="title" required>
                    </mat-form-field>
                    <mat-error *ngIf="titleIsEmpty==1">Sorry empty space in title filed is not allowed!</mat-error>
                    <mat-error *ngIf="singleCharErrorTitle==1">Sorry  title cannot have a single character!</mat-error>
                </div>
                <div class="form-group">
                    <mat-form-field style="width: 100%;">
                        <textarea matInput name="message"  placeholder="Message" [rows]="5" formControlName="message" required
                            ></textarea>
                    </mat-form-field>
                    <mat-error *ngIf="messageEmpty==1">Sorry empty space in message filed is not allowed</mat-error>
                    <mat-error *ngIf="singleCharErrorMsg==1">Sorry  message cannot have a single character!</mat-error>
                </div>
                <div class="form-group">
                    <label for="Notification image"
                      >Image:</label
                    >
                    <mat-error *ngIf="fileUploadlimit==1">File upload limit exceeds 1MB</mat-error>
                    <input
                      (change)="handelImageChange($event.target.files)"
                      type="file"
                      accept="image/*"
                      class="form-control"
                      placeholder="Enter Upload image thumb"
                    />
                  </div>
                <div class="form-group">
                    <img src="{{ imageUrl }}" style="width: 50%; height: 10%;" />
                </div>

      
                <div class="form-group">
                    <mat-form-field style="width: 100%;">
                        <mat-label>Select type of push notification message</mat-label>
                        <mat-select [(value)]="selected">
                            <mat-option value="priority">Priority(Forced)</mat-option>
                            <mat-option value="normal">Normal</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <p>Sending : {{selected}}</p>
                </div>
                <div>
                    <button [disabled]="userForm.invalid" mat-raised-button type="submit">Send notification</button>
                </div>
            </form>
        </mat-card>
    </div>
</div>