<div class="container">
  <mat-card>
    <div class="header">
      <h2 class="title">Products</h2>
    </div>
    <div class="content">

    </div>
  </mat-card>

  <mat-card *ngIf="productList.length > 0" style="margin-top: 30px;">
    <div>
      <mat-form-field style="width: 92%;">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>

      <button mat-raised-button color="primary" style="margin-left: 23px;" [routerLink]="['../product','new']">
        New
      </button>
    </div>

    <table mat-table style="width: 100%;" [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
                The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Id. </th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> title </th>
        <td mat-cell *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="amount">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> amount </th>
        <td mat-cell *matCellDef="let element"> {{element.amount}} </td>
      </ng-container> <!-- Sub Categories Column -->

      <!-- Sub Categories Column -->
      <ng-container matColumnDef="currency" mat-sort-header>
        <th mat-header-cell *matHeaderCellDef> currency </th>
        <td mat-cell *matCellDef="let element"> {{element.currency}} </td>
      </ng-container>

      <!-- Status Column -->
      <ng-container matColumnDef="status">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> status </th>
        <td mat-cell *matCellDef="let element"> {{element.status}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let row">
          <mat-icon aria-hidden="false" (click)="delete(row)" aria-label="Example home icon">delete</mat-icon>
          <span style="margin-left: 20px;"></span>
          <mat-icon aria-hidden="false" [routerLink]="['../product', row.id]" aria-label="Example home icon">edit
          </mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[10, 20, 20]" showFirstLastButtons></mat-paginator>



  </mat-card>

</div>