<h2 mat-dialog-title>Add Episode</h2>
<mat-dialog-content class="mat-typography">

    <form [formGroup]="episodeForm">


        <div class="form-group">
            <mat-form-field style="width: 100%;">
                <mat-label>Content</mat-label>
                <mat-select formControlName="content" required>
                    <mat-option *ngFor="let cont of contents" [value]="cont">
                        {{cont.title}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

    </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button [disabled]="episodeForm.invalid" [mat-dialog-close]="episodeForm.value" cdkFocusInitial>Add Episode</button>
</mat-dialog-actions>