<h2 mat-dialog-title>Add Price List</h2>
<mat-dialog-content class="mat-typography">
  <form [formGroup]="priceForm">
    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Title" formControlName="title" required />
    </mat-form-field>

    <mat-form-field style="width: 100%;">
      <input matInput placeholder="Desciption" formControlName="description" required />
    </mat-form-field>

    <div class="form-group">
      <mat-form-field style="width: 100%;">
        <mat-label>Currency</mat-label>
        <mat-select formControlName="currency" required>
          <mat-option *ngFor="let currenc of currencies" [value]="currenc"
            >{{currenc}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width: 100%;">
        <input
          matInput
          placeholder="Price"
          formControlName="price"
          type="number"
          required
        />
      </mat-form-field>

      <mat-form-field style="width: 100%;">
        <input
          matInput
          placeholder="Number of Days"
          formControlName="noOfDays"
          type="number"
          required
        />
        <!-- <mat-error *ngIf="description.invalid">Description can not be empty</mat-error> -->
      </mat-form-field>
    </div>

  </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Cancel</button>
  <button
    mat-button
    [disabled]="priceForm.invalid"
    [mat-dialog-close]="getData()"
    cdkFocusInitial
  >
    Submit
  </button>
</mat-dialog-actions>
