.title{
    width: 200px;
}

.mid{
    width: 1000px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    align-content: space-between;
    justify-items: flex-start;
    justify-content: space-between;
    /* background-color: aqua; */
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 200px;
    font-size: small;
}

.mid-left{
    display: flex;
    flex: 1;
    flex-direction: row;
    /* flex-direction: row; */
    /* align-items: center; */
    align-content:space-between;
    justify-items: flex-start;
    justify-content:flex-end 
}

.campaign-mid-left{
    display: flex;
    flex: 1;
    flex-direction:row;
    margin-top: 10px;
    margin-bottom: 10px;
    /* flex-direction: row; */
    /* align-items: center; */
    align-content:space-between;
    justify-items: flex-start;
    justify-content:space-between 
}

.mid-right{
    display: flex;
    flex: 1;
    flex-direction: row;
    align-content:space-evenly;
    justify-items: flex-start;
    justify-content:flex-start; 
    font-size: 10px;
    font-weight: bold;
}

.main-content-style{
 /* display: flex; */
 /* flex: 1; */
 /* flex-direction: column; */
 /* align-content: flex-start; */
 /* background-color: yellow; */
 width:100% !important;
 /* position:absolute; */
 /* right: 300px; */
}


.table-content{
    /* width: 1000px; */
    font-size: 15px;
    font-weight: bold;

}

.table-campaign-detail{
 width: 98%;
 /* background-color: red; */
 margin: 2%;
}

.NoData{
    font-size: 25px;
    font-weight: 600;
    color: rgb(241, 104, 104);
    margin-top: 7.5%;
    margin-bottom: 15%;
    margin-left: 40%;
    margin-right: 40%;
}

.mat-elevation-z8{
    width: 100% !important;
}

.mat-elevation-z8{
 /* margin-right: 100px!important; */
 margin-left: 40px!important;
 width: 1015px !important
}

mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix  { padding: 0.4em 0px }
mat-form-field.mat-form-field.mat-form-field-appearance-outline > div.mat-form-field-wrapper > div.mat-form-field-flex > div.mat-form-field-infix > span.mat-form-field-label-wrapper { top: -1.5em; }

.mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-1.1em) scale(.5);
    width: 33.33333%;
}

.create-sms-campaign{
    display: flex;
    flex-direction: row;
    align-content:space-around;
    margin-top: 5px; 
    margin-right: 20px;
    border: 1px;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 2px 2px 2px 2px #888888;
}

.mat-content-header{
 font-weight: 400;
 margin-top: 5px;
 margin-bottom: 5px;
}

.mat-card-content{
 margin-top:30px;
 margin-bottom: 30px;
}

.campaing-form-lable{
    font-weight: 700;
    font-size: 18px;
    margin-top: 15px;
    margin-bottom: 15px;
    /* margin-left: 3.5%; */
}

.sms-campaing{
    width:100% !important;
    /* margin-right: 50% !important; */
    font-size: 12px;
    font-weight: 600;
    color: black; 
    /* background-color: burlywood; */
  }
  
.Theader{
      font-size: 13px;
      font-weight:700;
      color: black; 
      text-transform: uppercase;
      /* text-align: center;   */
}
.Theader2{
    font-size: 13px;
    font-weight:700;
    color: black; 
    text-transform: uppercase;
    /* text-align: center;   */
}

.containerz{
    width: 100% !important;
    /* height: 100%; */
    /* background-color: chartreuse; */
    padding-left: 1.5% !important;
    padding-right: 1.5% !important;
}

th{
    width: 300px !important;
}


/* .container{
    padding: 10px !important;
}

.mat-column-Channel {
    flex: 0 0 50%;
}
.mat-column-Start time {
    flex: 0 0 50%; 
}*/

/* ::ng-deep .mat-form-field-flex > .mat-form-field-infix { padding: 0.4em 0px !important;}
::ng-deep .mat-form-field-label-wrapper { top: -1.5em; }

::ng-deep .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float .mat-form-field-label {
    transform: translateY(-10.1em) scale(.40);
    width: 20%;
} */

/* <div class="row">
<mat-icon style="position:absolute; right:8px;top:8px;"color="primary">search</mat-icon>
<input style="position:relative;" class="form-control "  name="UserName"  type="text"   placeholder="Search by Name or ID" >
</div> */