<div class="container">
  <!--Render create campaign message component-->
  <div *ngIf="renderCreateCampaign == true">
    <div class="campaign-mid-left">
      <div class="create-sms-campaign" (click)="CreateCampaignMessage()">
        <mat-icon>arrow_back</mat-icon>GO BACK
      </div>
      <div class="create-sms-campaign" (click)="ListMessages()">
        <div *ngIf="showComposeForm==true; else ComposeMessage">
           <mat-icon>table_view</mat-icon> VIEW MESSAGES
        </div>
        <ng-template #ComposeMessage>
          <mat-icon>add</mat-icon> COMPOSE MESSAGES
        </ng-template>
      </div>
    </div>
    <!--Conditionaly render compose message form-->
     <div *ngIf="showComposeForm == true">
      <div style="margin-top: 20px">
        <mat-card class="mat-card-content">
          <mat-card-title class="mat-content-header"
            >CREATE CAMPAING MESSAGE</mat-card-title
          >
          <hr />
          <mat-card-content>
            <p>
              Create various sms campaign messages and save them as template to be
              mapped to different channels accordingly.You can also update and
              delete exeting message template and apply them to multiple
              channels.mat-card-header A message can have one to one or one to
              many relation with channel i.e message can be mapped to either one
              or multiple channels depending on the current need.
            </p>
          </mat-card-content>
        </mat-card>
  
        <mat-card class="mat-card-content">
          <mat-card-title class="mat-content-header"
            >COMPOSE CAMPAIGN MESSAGE</mat-card-title
          >
          <hr />
          <mat-card-content>
           <div style="width: 60%;">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
              <label class="campaing-form-lable" for="Campaing objective">Campaing objective</label><br>
              <input style="width: 400px !important; height: 40px !important;" name="campaigObjective"  formControlName="campaigObjective"/>
              <br>
              <!--Add multiple select item here-->
              <!-- <mat-form-field appearance="fill">
                <mat-label>Select</mat-label>
                <mat-select>
                  <mat-option value="one">First option</mat-option>
                  <mat-option value="two">Second option</mat-option>
                </mat-select>
              </mat-form-field> -->
              <label class="campaing-form-lable" for="Campaing Message">Campaing Message</label><br>
              <textarea style="width: 400px !important; height: 200px !important;"  name="campaignMessage" formControlName="campaignMessage"></textarea>
              <br/>
              <label class="campaing-form-lable" for="Campaing Message">Map message to channel</label><br>
              <div style="width: 400px !important; margin-top: 10px;margin-bottom: 10px;">
              <ng-multiselect-dropdown #multiSelect
              [placeholder]="'Select City'" 
              [data]="data" 
              [formControl]="f.name" 
              [settings]="settings"
              [disabled]="false"
              (onFilterChange)="onFilterChange($event)"
              (onDropDownClose)="onDropDownClose($event)"
              (onSelect)="onItemSelect($event)" 
              (onDeSelect)="onDeSelect($event)"
              (onSelectAll)="onSelectAll($event)"
              (onDeSelectAll)="onDeSelectAll($event)">
              </ng-multiselect-dropdown>
              </div>
        
            <span *ngIf="f?.name?.errors?.required" style="color: red;">
              Channel is required
            </span>
              <button mat-raised-button type="submit" color="primary">SUBMIT</button>
            </form>
           </div>
          </mat-card-content>
        </mat-card>
      </div>
     </div>

     <!--Display table list to show messages start-->
     <div *ngIf="showComposeForm == false">
       <label class="campaing-form-lable">LIST OF CAMPAIGN MESSAGE</label>
       <div style="margin-left: 3%;">
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input matInput (keyup)="applyFilter($event)" placeholder="Ex. ium" #input>
        </mat-form-field>
       </div>

       <table mat-table [dataSource]="composedMessageDataSource" class="mat-elevation-z8">

        <!-- Campaign Objective Column -->
        <ng-container matColumnDef="Objective">
          <th mat-header-cell *matHeaderCellDef> Campaign Objective. </th>
          <td mat-cell *matCellDef="let element"> {{element.Objective}} </td>
        </ng-container>
      
        <!-- Message Column -->
        <ng-container matColumnDef="Message">
          <th mat-header-cell *matHeaderCellDef> Message </th>
          <td mat-cell *matCellDef="let element"> {{element.Message}} </td>
        </ng-container>
      
        <!-- Mapped Channel(Campaing) Column -->
        <ng-container matColumnDef="MappedCampaing">
          <th mat-header-cell *matHeaderCellDef> Mapped Channel(Campaing) </th>
          <td mat-cell *matCellDef="let element"> {{element.MappedCampaing}} </td>
        </ng-container>
      
        <!-- Create By Column -->
        <ng-container matColumnDef="CreatedBy">
          <th mat-header-cell *matHeaderCellDef> Create By </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedBy}} </td>
        </ng-container>

         <!-- Created At Column -->
         <ng-container matColumnDef="CreatedAt">
          <th mat-header-cell *matHeaderCellDef> Create At </th>
          <td mat-cell *matCellDef="let element"> {{element.CreatedAt}} </td>
        </ng-container>

         <!-- Updated At Column -->
         <ng-container matColumnDef="UpdatedAt">
          <th mat-header-cell *matHeaderCellDef> Updated By </th>
          <td mat-cell *matCellDef="let element"> {{element.UpdatedAt}} </td>
        </ng-container>

        <!-- Delete Action Column -->
        <ng-container matColumnDef="Delete">
          <th mat-header-cell *matHeaderCellDef> Delete</th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button color="warn" (click)="deleteComposeMessage()">
            <mat-icon >delete</mat-icon> DELETE
          </button> </td>
        </ng-container>

        <!-- Update Action Column -->
        <ng-container matColumnDef="Update">
          <th mat-header-cell *matHeaderCellDef> Update</th>
          <td mat-cell *matCellDef="let element"><button mat-raised-button color="primary" (click)="updateComposeMessge()">
            <mat-icon>update</mat-icon> UPDATE
          </button> </td>
        </ng-container>
      
        <tr mat-header-row *matHeaderRowDef="composedMessageDislayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: composedMessageDislayedColumns;"></tr>
      
        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
      <!--paginator start-->
      <div style="background-color: burlywood; margin-right: 5%; ">
        <mat-paginator
      [pageSizeOptions]="[5, 10, 20]"
      length="50"
      showFirstLastButtons
      aria-label="Select page of message list"
    >
    </mat-paginator>
      </div>
      <!--paginator end-->
      
     </div>
    <!--Display table list to show messages end-->
  </div>
  <!--Render main component to list all campaing -->
  <div
    *ngIf="renderCreateCampaign == false"
    class="main-content-style"
    (window:resize)="onResize($event)"
  >
    <div class="col">
      <h4 style="margin-left: 15px; margin-top: 15px">Campaign</h4>
    </div>

    <div class="row">
      <mat-card class="mid">
        <mat-form-field appearance="outline">
          <mat-label
            ><mat-icon color="primary">date_range</mat-icon> Between</mat-label
          >
          <input
            matInput
            placeholder="Choose a date"
            [satDatepicker]="picker"
            [value]="dateRange"
            (dateChange)="getDateRange($event)"
          />
          <sat-datepicker #picker [rangeMode]="true"></sat-datepicker>
          <sat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></sat-datepicker-toggle>
        </mat-form-field>

        <div class="mid-left">
          <div class="create-sms-campaign">
            <span (click)="CreateCampaignMessage()"
              >CREATE CAMPAIGN MESSAGE</span
            >
          </div>
          <button mat-raised-button (click)="Redirect()">
            <mat-icon color="primary">add_circle</mat-icon> Campaign
          </button>
        </div>
      </mat-card>
    </div>

    <div class="row">
      <div class="mid">
        <div class="mid-right">
          <div style="margin-right: 5px">
            <mat-form-field appearance="outline">
              <mat-icon matSuffix>search</mat-icon>
              <input matInput placeholder="Search" />
            </mat-form-field>
          </div>
          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label>Channel</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let Channel of Channels"
                  [value]="Channel.value"
                >
                  {{ Channel.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label>Delivery</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let Channel of Channels"
                  [value]="Channel.value"
                >
                  {{ Channel.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label>Status</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let Status of Statuses"
                  [value]="Status.value"
                >
                  {{ Status.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div style="margin-right: 5px">
            <mat-form-field
              style="height: 15px !important"
              appearance="outline"
            >
              <mat-label
                ><mat-icon color="primary">add</mat-icon> Filter</mat-label
              >
              <mat-select>
                <mat-option
                  *ngFor="let Channel of Channels"
                  [value]="Channel.value"
                >
                  {{ Channel.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
    </div>
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource">
        <!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

        <!-- Position Column -->
        <ng-container matColumnDef="Channel">
          <th mat-header-cell *matHeaderCellDef width="3%">Channel</th>
          <td mat-cell *matCellDef="let element">{{ element.position }}</td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="Start time">
          <th mat-header-cell *matHeaderCellDef width="3%">Start time</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="Created time">
          <th mat-header-cell *matHeaderCellDef width="3%">Created time</th>
          <td mat-cell *matCellDef="let element">{{ element.weight }}</td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="Sent">
          <th mat-header-cell *matHeaderCellDef width="3%">Sent</th>
          <td mat-cell *matCellDef="let element">{{ element.symbol }}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        [pageSizeOptions]="[5, 10, 20]"
        length="50"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </div>
</div>
